In [1]:
#importing the libraries and packages required to run the given assignment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
%matplotlib inline

In [2]:
#using gdrive to upload the dataset
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
data =  "./gdrive/My Drive/FDS_Dataset_Cleaned/Cleaned_Total.csv"
data

'./gdrive/My Drive/FDS_Dataset_Cleaned/Cleaned_Total.csv'

In [4]:
#Place your code here
df = pd.read_csv(data)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Displaying the top 5 rows
df.head()

   Unnamed: 0 CMPLNT_FR_DT         CMPLNT_FR_TM  ... Start_Hour At_Park  At_Train
0           0   2019-12-31  2021-12-02 17:30:00  ...       17.0       0         1
1           1   2019-12-29  2021-12-02 16:31:00  ...       16.0       0         1
2           2   2019-12-15  2021-12-02 18:45:00  ...       18.0       0         1
3           3   2019-12-28  2021-12-02 01:00:00  ...        1.0       0         1
4           4   2008-09-05  2021-12-02 21:41:00  ...       21.0       0         1

[5 rows x 24 columns]

In [7]:
#Getting an overview of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6826005 entries, 0 to 6826004
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   RPT_DT             object
 5   KY_CD              float64
 6   OFNS_DESC          object
 7   CRM_ATPT_CPTD_CD   object
 8   LAW_CAT_CD         object
 9   BORO_NM            object
 10  LOC_OF_OCCUR_DESC  object
 11  PREM_TYP_DESC      object
 12  JURIS_DESC         object
 13  JURISDICTION_CODE  float64
 14  Lat_Lon            object
 15  VIC_AGE_GROUP      object
 16  VIC_RACE           object
 17  VIC_SEX            object
 18  Start_Year         float64
 19  Start_Month        float64
 20  Start_Day          float64
 21  Start_Hour         float64
 22  At_Park            object
 23  At_Train           int64
dtypes: float64(6), int64(2), object(16)
memory usage: 1.2+ GB

In [8]:
#Creating a new dataset for crimes which took place in Manhattan
df_manhattan = df[df['BORO_NM'] == 'MANHATTAN']
df_manhattan.info()
df_manhattan.to_csv('Manhattan.csv')
files.download('Manhattan.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1639568 entries, 0 to 6826003
Data columns (total 24 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1639568 non-null  int64
 1   CMPLNT_FR_DT       1639568 non-null  object
 2   CMPLNT_FR_TM       1639556 non-null  object
 3   CMPLNT_TO_DT       1266731 non-null  object
 4   RPT_DT             1639568 non-null  object
 5   KY_CD              1639568 non-null  float64
 6   OFNS_DESC          1634427 non-null  object
 7   CRM_ATPT_CPTD_CD   1639567 non-null  object
 8   LAW_CAT_CD         1639568 non-null  object
 9   BORO_NM            1639568 non-null  object
 10  LOC_OF_OCCUR_DESC  1303025 non-null  object
 11  PREM_TYP_DESC      1628312 non-null  object
 12  JURIS_DESC         1639568 non-null  object
 13  JURISDICTION_CODE  1639568 non-null  float64
 14  Lat_Lon            1639559 non-null  object
 15  VIC_AGE_GROUP      1639568 non-null  object
 16  VIC_RACE           1639568 non-null  object
 17  VIC_SEX            1639568 non-null  object
 18  Start_Year         1639568 non-null  float64
 19  Start_Month        1639568 non-null  float64
 20  Start_Day          1639568 non-null  float64
 21  Start_Hour         1639556 non-null  float64
 22  At_Park            1639568 non-null  object
 23  At_Train           1639568 non-null  int64
dtypes: float64(6), int64(2), object(16)
memory usage: 312.7+ MB

In [9]:
#Creating a new dataset for crimes which took place in Queens
df_queens = df[df['BORO_NM'] == 'QUEENS']
df_queens.info()
df_queens.to_csv('Queens.csv')
files.download('Queens.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1353757 entries, 2 to 6826004
Data columns (total 24 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1353757 non-null  int64
 1   CMPLNT_FR_DT       1353757 non-null  object
 2   CMPLNT_FR_TM       1353748 non-null  object
 3   CMPLNT_TO_DT       1151113 non-null  object
 4   RPT_DT             1353757 non-null  object
 5   KY_CD              1353757 non-null  float64
 6   OFNS_DESC          1350744 non-null  object
 7   CRM_ATPT_CPTD_CD   1353756 non-null  object
 8   LAW_CAT_CD         1353757 non-null  object
 9   BORO_NM            1353757 non-null  object
 10  LOC_OF_OCCUR_DESC  1062302 non-null  object
 11  PREM_TYP_DESC      1349500 non-null  object
 12  JURIS_DESC         1353757 non-null  object
 13  JURISDICTION_CODE  1353757 non-null  float64
 14  Lat_Lon            1353756 non-null  object
 15  VIC_AGE_GROUP      1353757 non-null  object
 16  VIC_RACE           1353757 non-null  object
 17  VIC_SEX            1353757 non-null  object
 18  Start_Year         1353757 non-null  float64
 19  Start_Month        1353757 non-null  float64
 20  Start_Day          1353757 non-null  float64
 21  Start_Hour         1353748 non-null  float64
 22  At_Park            1353757 non-null  object
 23  At_Train           1353757 non-null  int64
dtypes: float64(6), int64(2), object(16)
memory usage: 258.2+ MB

In [10]:
#Creating a new dataset for crimes which took place in Bronx
df_bronx = df[df['BORO_NM'] == 'BRONX']
df_bronx.info()
df_bronx.to_csv('Bronx.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1484733 entries, 1 to 6826002
Data columns (total 24 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1484733 non-null  int64
 1   CMPLNT_FR_DT       1484733 non-null  object
 2   CMPLNT_FR_TM       1484725 non-null  object
 3   CMPLNT_TO_DT       1019281 non-null  object
 4   RPT_DT             1484733 non-null  object
 5   KY_CD              1484733 non-null  float64
 6   OFNS_DESC          1481579 non-null  object
 7   CRM_ATPT_CPTD_CD   1484732 non-null  object
 8   LAW_CAT_CD         1484733 non-null  object
 9   BORO_NM            1484733 non-null  object
 10  LOC_OF_OCCUR_DESC  1154805 non-null  object
 11  PREM_TYP_DESC      1479581 non-null  object
 12  JURIS_DESC         1484733 non-null  object
 13  JURISDICTION_CODE  1484733 non-null  float64
 14  Lat_Lon            1484602 non-null  object
 15  VIC_AGE_GROUP      1484733 non-null  object
 16  VIC_RACE           1484733 non-null  object
 17  VIC_SEX            1484733 non-null  object
 18  Start_Year         1484733 non-null  float64
 19  Start_Month        1484733 non-null  float64
 20  Start_Day          1484733 non-null  float64
 21  Start_Hour         1484725 non-null  float64
 22  At_Park            1484733 non-null  object
 23  At_Train           1484733 non-null  int64
dtypes: float64(6), int64(2), object(16)
memory usage: 283.2+ MB

In [11]:
#Creating a new dataset for crimes which took place in Brooklyn
df_brooklyn = df[df['BORO_NM'] == 'BROOKLYN']
df_brooklyn.info()
df_brooklyn.to_csv('Brooklyn.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2022480 entries, 6 to 6825997
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   RPT_DT             object
 5   KY_CD              float64
 6   OFNS_DESC          object
 7   CRM_ATPT_CPTD_CD   object
 8   LAW_CAT_CD         object
 9   BORO_NM            object
 10  LOC_OF_OCCUR_DESC  object
 11  PREM_TYP_DESC      object
 12  JURIS_DESC         object
 13  JURISDICTION_CODE  float64
 14  Lat_Lon            object
 15  VIC_AGE_GROUP      object
 16  VIC_RACE           object
 17  VIC_SEX            object
 18  Start_Year         float64
 19  Start_Month        float64
 20  Start_Day          float64
 21  Start_Hour         float64
 22  At_Park            object
 23  At_Train           int64
dtypes: float64(6), int64(2), object(16)
memory usage: 385.8+ MB

In [12]:
#Creating a new dataset for crimes which took place in Staten Island
df_staten = df[df['BORO_NM'] == 'STATEN ISLAND']
df_staten.info()
df_staten.to_csv('Staten.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314910 entries, 50 to 6825995
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         314910 non-null  int64
 1   CMPLNT_FR_DT       314910 non-null  object
 2   CMPLNT_FR_TM       314909 non-null  object
 3   CMPLNT_TO_DT       235473 non-null  object
 4   RPT_DT             314910 non-null  object
 5   KY_CD              314910 non-null  float64
 6   OFNS_DESC          314450 non-null  object
 7   CRM_ATPT_CPTD_CD   314910 non-null  object
 8   LAW_CAT_CD         314910 non-null  object
 9   BORO_NM            314910 non-null  object
 10  LOC_OF_OCCUR_DESC  266350 non-null  object
 11  PREM_TYP_DESC      314095 non-null  object
 12  JURIS_DESC         314910 non-null  object
 13  JURISDICTION_CODE  314910 non-null  float64
 14  Lat_Lon            314910 non-null  object
 15  VIC_AGE_GROUP      314910 non-null  object
 16  VIC_RACE           314910 non-null  object
 17  VIC_SEX            314910 non-null  object
 18  Start_Year         314910 non-null  float64
 19  Start_Month        314910 non-null  float64
 20  Start_Day          314910 non-null  float64
 21  Start_Hour         314909 non-null  float64
 22  At_Park            314910 non-null  object
 23  At_Train           314910 non-null  int64
dtypes: float64(6), int64(2), object(16)
memory usage: 60.1+ MB

In [13]:
#Creating a new dataset for crimes which have Null Values in the Borough column
df_nan = df[df['BORO_NM'].isnull()]
df_nan.info()
df_nan.to_csv('NaN.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10557 entries, 4 to 6814679
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10557 non-null  int64
 1   CMPLNT_FR_DT       10557 non-null  object
 2   CMPLNT_FR_TM       10557 non-null  object
 3   CMPLNT_TO_DT       3584 non-null   object
 4   RPT_DT             10557 non-null  object
 5   KY_CD              10557 non-null  float64
 6   OFNS_DESC          10529 non-null  object
 7   CRM_ATPT_CPTD_CD   10557 non-null  object
 8   LAW_CAT_CD         10557 non-null  object
 9   BORO_NM            0 non-null      object
 10  LOC_OF_OCCUR_DESC  9263 non-null   object
 11  PREM_TYP_DESC      4975 non-null   object
 12  JURIS_DESC         10557 non-null  object
 13  JURISDICTION_CODE  5013 non-null   float64
 14  Lat_Lon            10194 non-null  object
 15  VIC_AGE_GROUP      10557 non-null  object
 16  VIC_RACE           10557 non-null  object
 17  VIC_SEX            10557 non-null  object
 18  Start_Year         10557 non-null  float64
 19  Start_Month        10557 non-null  float64
 20  Start_Day          10557 non-null  float64
 21  Start_Hour         10557 non-null  float64
 22  At_Park            10557 non-null  object
 23  At_Train           10557 non-null  int64
dtypes: float64(6), int64(2), object(16)
memory usage: 2.0+ MB